<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://raw.githubusercontent.com/zhuxiujia/GoMybatis/master/mybatis-3-mapper.dtd">
<mapper>
    <!--logic_enable 逻辑删除字段-->
    <!--logic_deleted 逻辑删除已删除字段-->
    <!--logic_undelete 逻辑删除 未删除字段-->
    <!--version_enable 乐观锁版本字段,支持int,int8,int16,int32,int64-->
    <resultMap id="BaseResultMap" tables="terminals">
    <id column="id" property="id"/>
	<result column="dbid" property="dbid" langType="int64"   />
	<result column="pos" property="pos" langType="int64"   />
	<result column="name" property="name" langType="string"   />
	<result column="shop_name" property="shop_name" langType="string"   />
	<result column="ip_addr" property="ip_addr" langType="string"   />
	<result column="run_env" property="run_env" langType="string"   />
	<result column="core_ver" property="core_ver" langType="string"   />
	<result column="db_ver" property="db_ver" langType="string"   />
	<result column="vertion" property="vertion" langType="string"   />
	<result column="release_id" property="release_id" langType="int64"   />
	<result column="await_release_id" property="await_release_id" langType="int64"   />
	<result column="status" property="status" langType="int"   />
    </resultMap>


	<select id="SelectAll" resultMap="BaseResultMap">
		select * from terminals
	</select>

	<select id="SelectById" resultMap="BaseResultMap">
		select * from terminals where id = #{id}
	</select>

	<select id="SelectUser" resultMap="BaseResultMap">
		select *from terminals where
	</select>
</mapper>
